// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "./css/select2.css";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.topics {
    padding-left: 20px;

    li {
        border-style: solid;
        border-color: #00a0e9;
        border-radius: 15px;
        background-color: orangered;

        a {
            padding: 10px;
            color: white;

            &:hover {
                color: #00a0e9;
            }
        }
    }
}

.action {
    margin-left: 20px;
}

.card-header {
    h1 {
        font-size: 20px;
    }
}
